modules = ["bash", "java-22", "java-graalvm22.3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = [
  "mc",
  "unzip",
  "dos2unix",
  "p7zip",
  "zip",
  "wget",
  "curl",
  "nano",
  "vim",
  "htop",
  "tree",
  "git",
  "tar",
  "findutils",
  "coreutils",
]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "source /run/replit/env/latest && START=./src/main/sh/startup.sh && cd $HOME/workspace && chmod u+x $START && DTX_MAIN_CLASS=hu.detox.szexpartnerek.ws.Main $START"

[objectStorage]
defaultBucketID = "replit-objstore-c03e2518-e66b-4271-a939-5b4c7ed09324"

[userenv.shared]
PATH = "/home/runner/.nix-profile/bin:/home/runner/.local/state/nix/profiles/default/bin:$PATH"
