modules = ["java-graalvm22.3", "nodejs-20", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = [
  "mc",
  "unzip",
  "p7zip",
  "zip",
  "wget",
  "curl",
  "nano",
  "vim",
  "htop",
  "tree",
  "git",
  "tar",
  "findutils",
  "coreutils"
]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "JAVA_HOME=/nix/store/2ds1jrzlmx4n08sp7flga5sxf000l2sl-zulu-ca-jdk-21.0.4 /nix/store/2ds1jrzlmx4n08sp7flga5sxf000l2sl-zulu-ca-jdk-21.0.4/bin/java @java-args.txt -jar ./szexpartnerek/target/libs/szexpartnerek-1.0-SNAPSHOT.jar"
waitForPort = 8080

[[ports]]
localPort = 8080
externalPort = 80
